{% extends 'VyperSiteBundle::layout.html.twig' %}
{% block content %}

<section class="header header-7">
    <div class="hero-slider">
        <ul class="slides">
            <li>
                <div class="background-image-holder">
                    <img alt="Background Image" class="background-image" src="{{ asset('bundles/vypersite/img/bg/bg2.png') }}">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="text-white first-title">le premier magazine français entièrement consacré au J-Rock et Visual-Kei</h2>
                            <h5 class="text-white">VYPER propose de façon innovante de promouvoir la musique japonaise en France et en Europe.<br></h5>
                            <a class="qbutton white" href="{{ path('vyper_site_magazine') }}">DÉCOUVRIR VYPER</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>



    <section class="cta cta-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3>Ne manquez rien des nouveautés</h3>
                    <h5>Rejoignez nos milliers d'abonnés, abonnez-vous à la newsletter de VYPER</h5>
                    <form class="contained-form" method="post" {{ form_enctype(form) }}>

                        {{ form_widget(form._token) }}

                        {{ form_widget(form.name, {  'attr': {'class': 'signup-name-field validate-required'} }) }}
                        {{ form_widget(form.email, {  'attr': {'class': 'validate-required validate-email signup-email-field'} }) }}
                        <input type="submit" value="S'abonner à la newsletter»">
                        <p class="sub">
                            * Nous ne partageons ni diffusons vos données personnelles.
                        </p>
                        <div class="form-error">
                            <span>Merci de saisir tous les champs corectement</span>
                        </div>
                        {# On affiche tous les messages flash dont le nom est « info » #}
                        {% for message in app.session.flashbag.get('info') %}
                            <div class="form-success"><span>{{ message }}</span></div>
                        {% endfor %}

                        <iframe srcdoc="" class="mail-list-form">
                        </iframe>
                    </form>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
