{% extends 'VyperSiteBundle::layout.html.twig' %}
{% block content %}

<section class="header header-7">
    <div class="hero-slider">
        <ul class="slides">
            <li>
                <div class="background-image-holder">
                    <img alt="Background Image" class="background-image" src="{{ asset('bundles/vypersite/img/bg/bg2.png') }}">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="text-white first-title">le premier magazine français entièrement consacré au J-Rock et Visual-Kei</h2>
                            <h5 class="text-white">Vyper propose de façon innovante de promouvoir la musique japonaise en France et en Europe.<br></h5>
                            <a class="qbutton white inner-link" href="#magazine">DÉCOUVRIR VYPER</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
    <a id="magazine" class="in-page-link"></a>
<section class="features features-7">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
                <h4>
                    UN MAGAZINE UNIQUE EN FRANCE
                </h4>
                <h5>
                    Vyper est le magazine papier de la musique Japonaise en France.
                    Nous vous offrons la possibilité de suivre tous les 2 mois l'actualité
                    du J-Rock et Visual-Kei
                </h5>

            </div>
        </div>
    </div>

</section>
<section class="features features-5 bgdark">
    <div class="container">
        <div class="row v-align-children">

            <div class="col-sm-6 col-md-5 feature text-right">
                <h4>Un contenu<br />unique en son genre.</h4>
                <p>
                    Vyper s'appuie sur des rédacteurs compétents ainsi que l'ensemble de ses partenaires pour fournir à ses lecteurs le meilleur du J-Rock et Visual-Kei.
                </p>
            </div>

            <div class="col-sm-6 col-md-offset-1 text-center feature">
                <img alt="Feature Image" src="{{ asset('bundles/vypersite/img/bg/cross.png') }}">
            </div>

        </div>
    </div>
</section>


<section class="features features-4">
    <div class="container">
        <div class="row v-align-children">
            <div class="col-sm-6 text-center feature">
                <img alt="Feature Image" src="{{ asset('bundles/vypersite/img/bg/luna2.png') }}">
            </div>

            <div class="col-sm-6 col-md-5 col-md-offset-1 feature">
                <h4>
                    L'actualité complète et variée dans un seul magazine
                </h4>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.
                </p>
            </div>
        </div>
    </div>
</section>





    <section class="pricing pricing-1 bgdark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>Vyper à toutes les sauces.</h3>
                <h5>

                    Choisissez parmi les 3 formules que nous vous proposons, celle qui vous convient le mieux.<br>
                    Visu, Pop ou Rock, le magazine Vyper assurément chez vous.

                </h5>
            </div>
        </div>

        <div class="row">
            <a href="#">
                <div class="col-sm-4 text-center pricing-option">
                    <h6>Visu</h6>
                    <div class="price-container">
                        <span class="price">40</span>
                        <span class="dollar">€</span>
                        <span class="terms">TTC</span>
                    </div>
                    <h5>Abonnement de 1 an</h5>
                    <ul>
                        <li>Souscrit en France Métropolitaine</li>
                        <li><strong>Au lieu de 51€ TTC</strong></li>
                    </ul>
                </div>
            </a>

            <a href="#">
                <div class="col-sm-4 text-center pricing-option active">
                    <h6>Pop</h6>
                    <div class="price-container">
                        <span class="price">55</span>
                        <span class="dollar">€</span>
                        <span class="terms">TTC</span>
                    </div>
                    <h5>Abonnement de 1 an + HS</h5>
                    <ul>
                        <li>Souscrit en France Métropolitaine</li>
                        <li><strong>Au lieu de 70€ TTC</strong></li>
                    </ul>
                </div>
            </a>

            <a href="#">
                <div class="col-sm-4 text-center pricing-option">
                    <h6>Rock</h6>
                    <div class="price-container">
                        <span class="price">70</span>
                        <span class="dollar">€</span>
                        <span class="terms">TTC</span>
                    </div>
                    <h5>Abonnement de 2 ans</h5>
                    <ul>
                        <li>Souscrit en France Métropolitaine</li>
                        <li><strong>Au lieu de 102€ TTC</strong></li>
                    </ul>
                </div>
            </a>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <p>Besoin d'infos supplémentaires? <a href="{{ path('vyper_site_contact') }}">Contactez-nous</a>, Vyper vous répond dans les 24 heures !</p>
            </div>
        </div>
    </div>
</section>


    <a id="faq" class="in-page-link"></a>
<section class="faq faq-1">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>Foires aux questions</h3>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="faq">
                    <h5>Comment puis-je me procurer un numéro en particulier ?</h5>
                    <p>
                        Cras tincidunt placerat risus. Integer lectus felis, commodo sit amet porttitor quis, lobortis a odio. Donec eget lacus maximus, tempor magna quis, semper sapien. Mauris lacinia orci orci, at pharetra ex rhoncus in. Fusce porta massa tellus, quis convallis mauris iaculis sed.
                    </p>
                </div>

                <div class="faq">
                    <h5>Est-il possible de commander depuis l'étranger?</h5>
                    <p>
                        Sed scelerisque ligula eget elementum sollicitudin. Sed nec condimentum tortor. Curabitur consequat sem quis lacus ultrices, ut ornare magna sollicitudin. Nulla sollicitudin lorem non sem pulvinar placerat.
                    </p>
                </div>

                <div class="faq">
                    <h5>Combien de pages?</h5>
                    <p>
                        Aliquam nisi sem, gravida in dapibus a, sollicitudin ut sapien. Ut non commodo ligula, sed porttitor dolor. Curabitur porta ante urna, non sollicitudin mi blandit in. Morbi dictum, metus a semper pulvinar, justo erat tempus nisi, elementum rutrum diam diam in mauris.
                    </p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="faq">
                    <h5>Vyper est-il disponible en anglais?</h5>
                    <p>
                        Suspendisse ut blandit justo. Praesent imperdiet neque at odio faucibus, sit amet congue nunc ornare. Fusce justo neque, maximus eget justo vel, tincidunt tempus orci. Nulla ultrices erat vitae elementum commodo. Pellentesque ac vestibulum ex. Nulla facilisi.
                    </p>
                </div>

                <div class="faq">
                    <h5>Des posters sont-ils inclus dans le magazine?</h5>
                    <p>
                        Aenean id est tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas ut felis non felis pellentesque feugiat ac quis urna. Ut iaculis est vitae neque auctor, et rhoncus eros iaculis. Phasellus mollis purus eros, at aliquam turpis suscipit quis.
                    </p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <h4>D'autres questions? Tweetez <a target="_blank" href="https://twitter.com/VYPER_JMusic">@VYPER_JMusic</a> dès maintenant</h4>
            </div>
        </div>
    </div>
</section>
    <a id="partners" class="in-page-link"></a>
    <section class="cta cta-4">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3>Nos partenaires</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-center">
                    <img alt="Affiliate" src="img/l1.png">
                    <img alt="Affiliate" src="img/l2.png">
                    <img alt="Affiliate" src="img/l3.png">
                    <img alt="Affiliate" src="img/l4.png">
                    <img alt="Affiliate" src="img/l5.png">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-center">
                    <h5>Rejoignez nos nombreux partenaires et bénéficiez de la visibilité Vyper.</h5>
                    <a class="btn btn-filled super-action" href="{{ path('vyper_site_contact') }}">Contact</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
