
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Variant HTML Builder by Medium Rare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('bundles/vypersite/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('bundles/vypersite/css/icons.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('bundles/vypersite/css/flexslider.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('bundles/vypersite/css/theme-velvet.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('bundles/vypersite/css/custom.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Questrial" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/vypersite/css/font-questrial.css') }}" rel="stylesheet" type="text/css">
</head>

<body>


<div class="nav-container">



    <nav class="nav-1 overlay">
        <div class="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-4">
                        <a href="#">
                            <img class="logo" alt="Vyper Japanese Music" src="{{ asset('bundles/vypersite/img/logo.png') }}">
                        </a>
                    </div>

                    <div class="col-md-3 text-right col-sm-6 col-md-push-6 col-xs-8">
                        <a class="btn btn-filled" href="#">Le Store »</a>
                        <div class="mobile-toggle">
                            <div class="upper"></div>
                            <div class="middle"></div>
                            <div class="lower"></div>
                        </div>
                    </div>

                    <div class="col-md-6 text-center col-md-pull-3 col-sm-12 col-xs-12">
                        <ul class="menu">
                            <li>
                                <a href="#">
                                    News
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Abonnement
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Jeux
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Newsletter
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Partenaires
                                </a>
                            </li>


                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </nav>











</div>

<div class="main-container">



















<section class="pricing pricing-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>Vyper à toutes les sauces.</h3>
            </div>
        </div>

        <div class="row">
            <a href="#">
                <div class="col-sm-4 text-center pricing-option">
                    <h6>Starter</h6>
                    <div class="price-container">
                        <span class="price">40</span>
                        <span class="dollar">€</span>
                        <span class="terms">TTC</span>
                    </div>
                    <h5>Abonnement de 1 an</h5>
                    <ul>
                        <li>Souscrit en France Métropolitaine</li>
                        <li><strong>Au lieu de 51€ TTC</strong></li>
                    </ul>
                </div>
            </a>

            <a href="#">
                <div class="col-sm-4 text-center pricing-option active">
                    <h6>Red</h6>
                    <div class="price-container">
                        <span class="price">55</span>
                        <span class="dollar">€</span>
                        <span class="terms">TTC</span>
                    </div>
                    <h5>Abonnement de 1 an + HS</h5>
                    <ul>
                        <li>Souscrit en France Métropolitaine</li>
                        <li><strong>Au lieu de 70€ TTC</strong></li>
                    </ul>
                </div>
            </a>

            <a href="#">
                <div class="col-sm-4 text-center pricing-option">
                    <h6>Top</h6>
                    <div class="price-container">
                        <span class="price">70</span>
                        <span class="dollar">€</span>
                        <span class="terms">TTC</span>
                    </div>
                    <h5>Abonnement de 2 ans</h5>
                    <ul>
                        <li>Souscrit en France Métropolitaine</li>
                        <li><strong>Au lieu de 102€ TTC</strong></li>
                    </ul>
                </div>
            </a>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <p>Besoin d'infos supplémentaires? <a href="#">Restez en contact</a> pour ne rien manquer.</p>
            </div>
        </div>
    </div>
</section>

<section class="header header-7">
    <div class="hero-slider">
        <ul class="slides">
            <li>
                <div class="background-image-holder">
                    <img alt="Background Image" class="background-image" src="{{ asset('bundles/vypersite/img/bg/bg2.png') }}">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h1 class="text-white">Toutes les news exclusives<br>en direct du Japon</h1>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="faq faq-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="faq">
                    <h5>Comment puis-je me procurer un numéro en particulier ?</h5>
                    <p>
                        Cras tincidunt placerat risus. Integer lectus felis, commodo sit amet porttitor quis, lobortis a odio. Donec eget lacus maximus, tempor magna quis, semper sapien. Mauris lacinia orci orci, at pharetra ex rhoncus in. Fusce porta massa tellus, quis convallis mauris iaculis sed.
                    </p>
                </div>

                <div class="faq">
                    <h5>Est-il possible de commander depuis l'étranger?</h5>
                    <p>
                        Sed scelerisque ligula eget elementum sollicitudin. Sed nec condimentum tortor. Curabitur consequat sem quis lacus ultrices, ut ornare magna sollicitudin. Nulla sollicitudin lorem non sem pulvinar placerat.
                    </p>
                </div>

                <div class="faq">
                    <h5>Combien de pages?</h5>
                    <p>
                        Aliquam nisi sem, gravida in dapibus a, sollicitudin ut sapien. Ut non commodo ligula, sed porttitor dolor. Curabitur porta ante urna, non sollicitudin mi blandit in. Morbi dictum, metus a semper pulvinar, justo erat tempus nisi, elementum rutrum diam diam in mauris.
                    </p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="faq">
                    <h5>Vyper est-il disponible en anglais?</h5>
                    <p>
                        Suspendisse ut blandit justo. Praesent imperdiet neque at odio faucibus, sit amet congue nunc ornare. Fusce justo neque, maximus eget justo vel, tincidunt tempus orci. Nulla ultrices erat vitae elementum commodo. Pellentesque ac vestibulum ex. Nulla facilisi.
                    </p>
                </div>

                <div class="faq">
                    <h5>Des posters sont-ils inclus dans le magazine?</h5>
                    <p>
                        Aenean id est tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas ut felis non felis pellentesque feugiat ac quis urna. Ut iaculis est vitae neque auctor, et rhoncus eros iaculis. Phasellus mollis purus eros, at aliquam turpis suscipit quis.
                    </p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <h4>D'autres questions? Tweet <a target="_blank" href="https://twitter.com/VYPER_JMusic">@VYPER_JMusic</a> dès maintenant</h4>
            </div>
        </div>
    </div>
</section>
<footer class="footer footer-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <ul class="menu">
                    <li>
                        <a href="#">
                            News
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            FAQ
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Mentions légales
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            C.G.U
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Contact
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Recrutement
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <a href="#">
                    <img alt="Logo" src="{{ asset('bundles/vypersite/img/logo.png') }}">
                </a>
                <p class="sub">
                    © Copyright 2015 Vyper Japanese Music - Tous droits réservés
                </p>
            </div>
        </div>
    </div>
</footer>
</div>


<script src="{{ asset('bundles/vypersite/js/jquery.min.js') }}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
<script src="{{ asset('bundles/vypersite/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/vypersite/js/flexslider.min.js') }}"></script>
<script src="{{ asset('bundles/vypersite/js/smooth-scroll.min.js') }}"></script>
<script src="{{ asset('bundles/vypersite/js/placeholders.min.js') }}"></script>
<script src="{{ asset('bundles/vypersite/js/twitterfetcher.min.js') }}"></script>
<script src="{{ asset('bundles/vypersite/js/spectragram.min.js') }}"></script>
<script src="{{ asset('bundles/vypersite/js/scripts.js') }}"></script>
</body>
</html>

				